<form nz-form [formGroup]="blogForm" (ngSubmit)="onSubmit(template)">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Title</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="title">
      <input nz-input formControlName="title" placeholder="Nhập tiêu đề bài báo" />
      <ng-template #title let-control>
        @if (control.touched && control.errors?.['required']) {
          Tiêu đề bài báo không được để trống!
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Mô tả ngắn:</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="des">
      <input nz-input formControlName="des" placeholder="Mô tả ngắn" type="text" />
      <ng-template #des let-control>
        @if (control.errors?.['required']) {
          Mô tả ngắn không được để trống!
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Chi tiết:</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="detail">
        <textarea formControlName="detail" nz-input rows="5" placeholder="Chi tiết"></textarea>
      <ng-template #detail let-control>
        @if (control.errors?.['required']) {
          Chi tiết không được để trống!
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Danh mục:</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="category">
      <nz-select formControlName="category">
        <nz-option *ngFor="let category of listCategorys" [nzValue]="category.id" [nzLabel]="category.name"></nz-option>
      </nz-select>
      <ng-template #category let-control>
        @if (control.errors?.['required']) {
          Danh mục không được để trống!
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Vị trí</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <nz-checkbox-group formControlName="position" ></nz-checkbox-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Public:</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
          <div>
            <input type="radio" formControlName="public" [value]="true" > Yes
            <input type="radio" formControlName="public" [value]="false"> No
          </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Hình ảnh:</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <nz-upload
        nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
        [nzHeaders]="{ authorization: 'authorization-text' }"
        (nzChange)="onFileSelected($event)"
      >
        <button nz-button nzType="default" type="button">
          <span nz-icon nzType="upload"></span>
          Click to Upload
        </button>
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Ngày đăng:</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <nz-date-picker formControlName="data_pubblic"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!blogForm.valid">{{isEdit ? 'Cập nhật' : 'Thêm mới'}}</button>
      <button nz-button type="reset">Reset</button>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #template>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
          <span class="ant-notification-notice-icon">
            <span nz-icon nzType="smile" style="color: rgb(16, 142, 233);"></span>
          </span>
      <div class="ant-notification-notice-message">{{notificationTitle}}</div>
      <div class="ant-notification-notice-description">
      </div>
    </div>
  </div>
</ng-template>
