<ul nz-menu nzMode="inline">
  <li nz-submenu nzTitle="Danh mục" nzIcon="mail" nzOpen>
    <ul>
      <li nz-menu-group nzTitle="Blog">
        <ul>
          <li nz-menu-item><a nz-button nzType="link" routerLink="/listBlogs"><i nz-icon nzType="ordered-list"></i> List</a></li>
          <li nz-menu-item><a nz-button nzType="link" routerLink="/searchListBlogs"><i nz-icon nzType="search"></i> Search</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Quản lý" nzIcon="setting">
    <ul>
      <li nz-menu-item><button nz-button nzType="link" (click)="showModalTop()" style="color: #2A2A2A"><i nz-icon nzType="file-add"></i> New</button></li>
    </ul>
  </li>
</ul>

<nz-modal
  [nzStyle]="{ top: '20px' }"
  [(nzVisible)]="isVisibleTop"
  nzTitle="Chỉnh sửa blog"
  (nzOnCancel)="handleCancelTop()"
  (nzOnOk)="handleOkTop()"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <app-edit-blog-components></app-edit-blog-components>
  </ng-container>
</nz-modal>


