<ul nz-menu nzMode="inline">
  <li nz-submenu nzTitle="Danh mục" nzIcon="mail" nzOpen>
    <ul>
      <li nz-menu-group nzTitle="Blog">
        <ul>
          <li nz-menu-item><a nz-button nzType="link" routerLink="/listBlogs"><i nz-icon nzType="ordered-list"></i> List</a></li>
          <li nz-menu-item><a nz-button nzType="link" routerLink="/searchListBlogs"><i nz-icon nzType="search"></i> Search</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Quản lý" nzIcon="setting">
    <ul>
      <li nz-menu-item><a nz-button nzType="link" routerLink="/edit"><i nz-icon nzType="file-add"></i> New</a></li>
    </ul>
  </li>
</ul>


