<h2>My favorite movies</h2>
<div style="text-align: left;">
  <table style="width: 300px">
    <tr>
      <td>New movie's name:</td>
      <td>
        <input #movieName placeholder="name" required [(ngModel)]="movie.name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </td>
    </tr>
    <tr>
      <td>release year: </td>
      <input #releaseYear placeholder="release year" required [(ngModel)]="movie.releaseYear" #year="ngModel">
      <div [hidden]="year.valid || year.pristine" class="alert alert-danger">
        Year is required
      </div>
    </tr>
    <tr>
      <button (click)="add(movieName.value, releaseYear.value); movieName.value=''; releaseYear.value=''" [disabled]="!name.valid || !year.valid">
        add
      </button>
    </tr>
  </table>
</div>
<div class="parent">
  <ol class="movies">
    <li class="movieListItem"
        *ngFor="let eachMovie of movies">
      <a routerLink="/detail/{{eachMovie.id}}" style="text-decoration: none;">
        {{eachMovie.name}} - {{eachMovie.releaseYear}}
      </a>
      <button title="delete movie"
              (click)="delete(+eachMovie.id)">x</button>
    </li>
  </ol>
  <!-- <app-movie-detail [movie]="selectedMovie"></app-movie-detail> -->
</div>
